	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}
        
        <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet">
		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/7e1bd8a852.css">
		<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">
		
		{% if page.print_stylesheet %}
			<link rel="stylesheet" media="print" href="{{ site.baseurl }}/css/print.css">
		{% endif %}
		
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		{% if jekyll.environment == 'production' and site.google_analytics_key != '' %}
			<script>
				window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
				ga('create', '{{ site.google_analytics_key }}', 'auto');
				ga('send', 'pageview');
			</script>
			<script async src='https://www.google-analytics.com/analytics.js'></script>
		{% endif %}

	    	<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YTA0ZTJmODYtNmM0MS00NjBlLWEwYzAtNjNjZGZkMzZiODRkNjM2NTEwNzk3ODQ5MzE1MTUz"></script>
	    	<script src="https://use.fontawesome.com/1a01af5232.js"></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
	</head>